.admin__user {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto 5%;
}

.admin__user__header {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin__user__body {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto 10%
}